@import 'partials/reset';

$primary_color: rgba(0, 26, 73, 1); //dark green
$secondary_color: rgba(1, 149, 197, 0.1);
$tertiary_color: rgba(0, 74, 136, 1);
$fourth_color: rgba(0, 127, 193, 1.0); //pink
$fifth_color:  rgba(0, 77, 139, 0.7); //lighter green
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Raleway', sans-serif;
$title_font: 'Open Sans', sans-serif;

section {
  height:800px;
}

nav {
  height: 70px;
  padding: 0 50px;
  background: linear-gradient($off_black, $secondary_color);

  display: flex;
  align-items: center;
  font-variant: small-caps;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  ul a{
    color: $off_white;
    font-size: 17px;
    transition: all 0.5s ease;
  }
  ul a:hover {
    background: none;
    color: $fourth_color;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
  }

  .contact {
    margin-right: 30px;
  }
  .contact-links {
    position: absolute;
    margin-top: 26px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: $fifth_color;
    height: 150px;
    li {
      margin-top: 15px;
    }
  }

  .contact:hover {
    .contact-links {
      visibility: visible;
    }
  }


  h3 {
    color: $off_white;
    font-size: 25px;
  }
}

body {
  font-family: $primary_font;
  background-color: $primary_color;

  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
    font-variant: small-caps;
  }
}

header {
  height: 100vh;
  margin-top: 70px;
  background-image: url('images/damn.jpeg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $off_white;
  text-align: center;

  h1 {
    font-size: 300%;
    margin-left: 0%;
    text-shadow: 3px 3px 3px $off_black;
    margin-bottom: 5%;
    display: flex;
  }

  a {
    width: 0;
    height: 0;
    margin-left: -15%;

    img {
      margin-left: 10px;
      position: absolute;
      width: 150px;
      height: 200px;
      top: -30%;

      transition: top 1.5s linear;
      transition-delay: 0.5s;

    }

    img:hover {
      -webkit-transform: scale(1.21);
      -moz-transform: scale(1.21);
      -o-transform: scale(1.21);
      -ms-transform: scale(1.21);
    }

  }


  .dropped {
    top: 75%;
  }


  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px $off_black;
  }
}

#technologies {
  padding-top: 100px;
  font-size: 35px;
  color: $off_white;

  div {
    padding-top: 25px;
    margin-left: 15%;
  }

  div > div {
    box-shadow: 0px 0px 10px 2px $off_white;
    margin: 15px;
    min-width: 150px;
    background-color: $tertiary_color;
    border-radius: 10px;
    transition: all 0.9s ease;
  }
  i {
    font-size: 100px;
    margin: 10px 10px 20px 10px;
  }

  div > div:hover {
    -webkit-transform: scale(1.11);
    -moz-transform: scale(1.11);
    -o-transform: scale(1.11);
    -ms-transform: scale(1.11);
    box-shadow: 6px 6px 6px 6px $off_black;
    background-color: $fifth_color;
    h3 {
      visibility: visible;
    }
  }


  h3 {
    position: absolute;
    margin-top: -10px;
    visibility: hidden;
    color: $off_white;
    font-size: 20px;
    text-shadow: 2px 2px black;
  }


  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

#about {
  height: 600px;
  padding: 100px 0px;
  font-size: 35px;
  color: $off_white;
  margin-left: 15%;
  text-shadow: 5px 5px 5px $off_black;

  h2 {
    margin-bottom: 50px;

  }

  p {
    background:  $fifth_color;
    font-size: 25px;
    margin: 15px 160px 15px 10px;
    border: 10px double $off_white;
    padding: 20px 10px;
  }
}

#portfolio {
  padding-top: 100px;
  font-size: 35px;
  color: $off_white;

  margin: 0% 15%;
  .row {
    margin-top: 50px;
  }
  .card {
    height: 350px;
    margin: 25px 0px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .card:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);

  }
  .card-image img {
    height: 175px;
  }

  .card-content {
    color: $off_white;
    background: $fifth_color;
    height: 150px;
    font-size: 15px;
  }

  a {
    color: $fourth_color;
    font-size: 15px;
  }

  a:hover {
    color: $primary_color;
    transition: all 0.5s ease;
  }
}
