html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section {
  height: 800px; }

nav {
  height: 70px;
  padding: 0 50px;
  background-color: rgba(1, 149, 197, 0.1);
  display: flex;
  align-items: center;
  font-variant: small-caps;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }
  nav ul a {
    color: #FFF9FB;
    transition: all 0.5s ease; }
  nav ul a:hover {
    background: none;
    color: #007fc1; }
  nav .contact {
    margin-right: 30px; }
  nav .contact-links {
    position: absolute;
    margin-top: 26px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 77, 139, 0.7);
    height: 150px; }
    nav .contact-links li {
      margin-top: 15px; }
  nav .contact:hover .contact-links {
    visibility: visible; }
  nav h3 {
    color: #FFF9FB;
    font-size: 25px; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #001a49; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Open Sans", sans-serif;
    font-variant: small-caps; }

header {
  height: 100vh;
  margin-top: 70px;
  background-image: url("images/damn.jpeg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF9FB;
  text-align: center; }
  header h1 {
    font-size: 300%;
    margin-left: 0%;
    text-shadow: 3px 3px 3px #020F0F;
    margin-bottom: 5%;
    display: flex; }
  header h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px #020F0F; }

#technologies {
  padding-top: 100px;
  font-size: 35px;
  color: #FFF9FB; }
  #technologies div {
    padding-top: 25px;
    margin-left: 15%; }
  #technologies div > div {
    box-shadow: 2px 2px 2px 2px #020F0F;
    margin: 10px;
    background-color: #004a88; }
  #technologies i {
    font-size: 100px;
    margin: 10px 10px 20px 10px; }
  #technologies div > div:hover {
    box-shadow: 6px 6px 6px 6px #020F0F;
    background-color: rgba(0, 77, 139, 0.7); }
    #technologies div > div:hover h3 {
      visibility: visible; }
  #technologies h3 {
    position: absolute;
    margin-top: -10px;
    visibility: hidden;
    color: #FFF9FB;
    font-size: 20px;
    text-shadow: 2px 2px black; }
  #technologies .col {
    display: flex;
    align-items: center;
    justify-content: center; }

#about {
  height: 600px;
  padding-top: 100px;
  font-size: 35px;
  color: #FFF9FB;
  margin-left: 15%;
  text-shadow: 5px 5px 5px #020F0F; }
  #about h2 {
    margin-bottom: 50px; }
  #about p {
    background: rgba(0, 77, 139, 0.7);
    font-size: 22px;
    margin: 15px 160px 15px 10px;
    border: 10px double #FFF9FB;
    padding: 20px 10px; }

#portfolio {
  padding-top: 100px;
  font-size: 35px;
  color: #FFF9FB;
  margin: 0% 15%; }
  #portfolio .row {
    margin-top: 50px; }
  #portfolio .card {
    height: 350px;
    margin: 25px 0px;
    width: 100%; }
  #portfolio .card:hover {
    opacity: 0.5; }
  #portfolio .card-image img {
    height: 175px; }
  #portfolio .card-content {
    color: #FFF9FB;
    background: rgba(0, 77, 139, 0.7);
    height: 150px;
    font-size: 15px; }
  #portfolio a {
    color: #007fc1;
    font-size: 15px; }
  #portfolio a:hover {
    color: #001a49;
    transition: all 0.5s ease; }

/*# sourceMappingURL=style.css.map */
